@model List<UserViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h1 class="text-center">Employees</h1>
<hr class="style1 bg-warning mb-2" />

<a class="mb-3 btn btn-warning my-3" asp-area="Identity" asp-page="/Account/Register">Create new User</a>

<div class="justify-content-between">
    @foreach (var employee in Model)
    {
        @if (employee.IsActive)
        {
            <div class="d-flex row my-3 mx-2" style="background-color:#b3ffb3">
                <div class="col-md-10">
                    <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                    <a class="text-muted">
                        <b>username:</b> @employee.UserName
                        &emsp
                        <b>email:</b> @employee.Email
                    </a>
                </div>

                <div class="col-md-1">
                    <a asp-action="UserDetails" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                </div>

                <div class="col-md-1">
                    <a asp-action="Dismiss" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Dismiss</a>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex row my-3 mx-2" style="background-color:#ffb3b3">
                <div class="col-md-10">
                    <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                    <a class="text-muted">
                        <b>username:</b> @employee.UserName
                        &emsp
                        <b>email:</b> @employee.Email
                    </a>
                </div>

                <div class="col-md-1">
                    <a asp-action="UserDetails" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                </div>

                <div class="col-md-1">
                    <a asp-action="Hire" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Hire</a>
                </div>
            </div>
        }
    }
</div>


