@using HotelReservationsManager.Models.UserViewModels
@model SearchEmployeesViewModel

@{
    ViewData["Title"] = "Search employees";
}

<h1 class="text-center">Employees</h1>

<hr class="style1 bg-warning mb-2" />


<div class="col-md-8 mx-auto">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="Search" asp-controller="User" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select class="custom-select mb-3" asp-for="SearchBy">
                    <option value="Username">Username</option>
                    <option value="FirstName">First name</option>
                    <option value="MiddleName">Middle name</option>
                    <option value="LastName">Last name</option>
                    <option value="Email">Email</option>
                </select>

                <div class="form-group">
                    @*<label asp-for="Value" class="control-label">Username</label>*@
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="d-flex">
                    <div class="align-self-center mx-auto">
                        <div class="form-group col-md-1">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

        @foreach (var employee in Model.Users)
        {
            @if (employee.IsActive)
            {
                <div class="d-flex jumbotron py-1 px-1 my-3 mx-2" style="background-color:#b3ffb3">
                    <div class="col-md-8">
                        <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                        <a class="text-muted">
                            <b>username:</b> @employee.UserName
                            <br />
                            <b>email:</b> @employee.Email
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a asp-action="Details" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                    </div>

                    <div class="col-md-2">
                        <a asp-action="Dismiss" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Dismiss</a>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex jumbotron py-0 px-0 row my-3 mx-2" style="background-color:#ffb3b3">
                    <div class="col-md-8">
                        <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                        <a class="text-muted">
                            <b>username:</b> @employee.UserName
                            <br />
                            <b>email:</b> @employee.Email
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a asp-action="Details" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                    </div>

                    <div class="col-md-2">
                        <a asp-action="Hire" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Hire</a>
                    </div>
                </div>
            }
        }
</div>


