@using HotelReservationsManager.Models.UserViewModels
@model SearchEmployeesViewModel

@{
    ViewData["Title"] = "Search employees";
}

<head>
    <script src="https://unpkg.com/@@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<h1 class="text-center">Employees</h1>
<hr class="style1 bg-warning mb-2" />

<a class="mb-3 btn btn-warning my-3" asp-area="Identity" asp-page="/Account/Register">Create new User</a>


<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchEmployees" asp-controller="User" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="custom-select mb-3" asp-for="SearchBy">
                <option value="Username">Username</option>
                <option value="FirstName">First name</option>
                <option value="MiddleName">Middle name</option>
                <option value="LastName">Last name</option>
                <option value="Email">Email</option>
            </select>
            <div class="form-group">
                @*<label asp-for="Value" class="control-label">Username</label>*@
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group col-md2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="justify-content-between">
    @foreach (var employee in Model.Users)
    {
        @if (employee.IsActive)
        {
            <div class="d-flex row my-3 mx-2" style="background-color:#b3ffb3">
                <div class="col-md-10">
                    <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                    <a class="text-muted">
                        <b>username:</b> @employee.UserName
                        &emsp
                        <b>email:</b> @employee.Email
                    </a>
                </div>

                <div class="col-md-1">
                    <a asp-action="UserDetails" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                </div>

                <div class="col-md-1">
                    <a asp-action="Dismiss" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Dismiss</a>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex row my-3 mx-2" style="background-color:#ffb3b3">
                <div class="col-md-10">
                    <h3>@employee.FirstName @employee.MiddleName @employee.LastName</h3>

                    <a class="text-muted">
                        <b>username:</b> @employee.UserName
                        &emsp
                        <b>email:</b> @employee.Email
                    </a>
                </div>

                <div class="col-md-1">
                    <a asp-action="UserDetails" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Details</a>
                </div>

                <div class="col-md-1">
                    <a asp-action="Hire" asp-route-id="@employee.Id" class="mb-3 btn btn-warning my-3">Hire</a>
                </div>
            </div>
        }
    }
</div>


