@using HotelReservationsManager.Data.Models.Enums
@model HotelReservationsManager.Models.ReservationViewModels.ReservationCreateViewModel
@{
    ViewData["Title"] = "Create Reservation";
}


<h1>Create reservation</h1>

<hr class="style1 bg-warning mb-2" />

<br />

<div class="col-md-4 mx-auto">

    <form asp-action="Create" asp-controller="Reservation" method="post">
        <h2>Choose stay options</h2>
        <hr />

        <div class="row mb-3">
            <a @*class="text-muted"*@>Check-in date</a>
            <input type="date" asp-for="CheckInDate" class="form-control" />
            <span asp-validation-for="CheckInDate" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <a @*class="text-muted"*@>Check-out date</a>
            <input type="date" asp-for="CheckOutDate" class="form-control" />
            <span asp-validation-for="CheckOutDate" class="text-danger"></span>
        </div>

        <div class="row mb-3 custom-control custom-checkbox">
            <input asp-for="IsBreakfastIncluded" type="checkbox" class="custom-control-input" id="IsBreakfastIncluded">
            <label class="custom-control-label" for="IsBreakfastIncluded">With included breakfast</label>
        </div>

        <div class="row mb-3 custom-control custom-checkbox">
            <input asp-for="IsAllInclusive" type="checkbox" class="custom-control-input" id="IsAllInclusive">
            <label class="custom-control-label" for="IsAllInclusive">All-inclusive</label>
        </div>

        <h2>Choose clients</h2>
        <hr />

        <select class="custom-select mb-3" name="ChoosenClients" asp-for="ChoosenClients" multiple>
            <option selected disabled>--- Select clients ---</option>
            @foreach (var client in Model.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select>
        <span asp-validation-for="ChoosenClients" class="text-danger"></span>

        <h2>Choose room</h2>
        <hr />

        <select class="custom-select mb-3" name="ChoosenRoom" asp-for="ChoosenRoom">
            <option selected disabled>--- Select a room ---</option>
            @foreach (var room in Model.Rooms)
            {
                @if (room.Type == RoomType.TwoBeds)
                {
                    <h3>No. @room.Number - Room with separate beds</h3>
                }
                else if (room.Type == RoomType.DoubleBed)
                {
                    <h3>No. @room.Number - Room with a double bed</h3>
                }
                else if (room.Type == RoomType.PentHouse)
                {
                    <h3>No. @room.Number - Penthouse</h3>
                }
                else
                {
                    <h3>No. @room.Number - @room.Type</h3>
                }
                <option value="@room.Id">No. @room.Number - @room.Type - max @room.Capacity people </option>
            }
        </select>
        <span asp-validation-for="ChoosenRoom" class="text-danger"></span>

        <div class="d-flex">
            <div class="align-self-center mx-auto">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
