@model HotelReservationsManager.Models.Reservation.ReservationCreateViewModel
@{
    ViewData["Title"] = "Create Reservation";
}


<h1>Create reservation</h1>
<hr class="style1 bg-warning mb-2" />

<br />

<h2>Choose stay options</h2>
<hr />

<div class="col-md-4">
    <form asp-action="Create" asp-controller="Reservation" method="post">
        <div class="row mb-3">
            <a class="text-muted">Check-in date:</a>
            <input type="date" asp-for="CheckInDate" class="form-control" />
        </div>

        <div class="row mb-3">
            <a class="text-muted">Check-out date:</a>
            <input type="date" asp-for="CheckOutDate" class="form-control" />
        </div>

        <div class="row mb-3 custom-control custom-checkbox">
            <input asp-for="IsBreakfastIncluded" type="checkbox" class="custom-control-input" id="IsBreakfastIncluded">
            <label class="custom-control-label" for="IsBreakfastIncluded">With included breakfast</label>
        </div>

        <div class="row mb-3 custom-control custom-checkbox">
            <input asp-for="IsAllInclusive" type="checkbox" class="custom-control-input" id="IsAllInclusive">
            <label class="custom-control-label" for="IsAllInclusive">All-inclusive</label>
        </div>

        <h2>Choose clients</h2>
        <hr />

        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Add client
        </button>

        <div class="modal fade mb-3" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select id="search-by" class="custom-select mb-3" asp-for="CurrentChoosenClient">
                            <option value="Capacity" selected disabled>--- Select a client ---</option>
                            @foreach (var client in Model.Clients)
                            {
                                <option value="Capacity">@client.FirstName @client.LastName</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>*@

        <select class="custom-select mb-3" name="ChoosenClients" asp-for="ChoosenClients" multiple >
            <option selected disabled>--- Select clients ---</option>
            @foreach (var client in Model.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select>

        <select class="custom-select mb-3" name="ChoosenRoom" asp-for="ChoosenRoom" >
            <option selected disabled>--- Select a room ---</option>
            @foreach (var room in Model.Rooms)
            {
                <option value="@room.Id">No. @room.Number - @room.Type </option>
            }
        </select>


        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
