@using HotelReservationsManager.Data.Models.Enums
@model HotelReservationsManager.Models.ReservationViewModels.ReservationSearchViewModel

@{
    ViewData["Title"] = "Search reservation";
}

<h1 class="text-center">Reservations</h1>

<hr class="style1 bg-warning mb-2" />

<div class="col-md-7 mx-auto">    
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="Search" asp-controller="Reservation" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select id="search-by" class="custom-select mb-3" asp-for="SearchBy">
                    <option id="default" value="default" selected disabled>--- Select a search criteria ---</option>
                    <option value="RoomType">Room type</option>
                    <option value="RoomNumber">RoomNumber</option>
                </select>

                <div id="criterias"></div>

                <div class="d-flex">
                    <div class="align-self-center mx-auto">
                        <div class="form-group col-md-1">
                            <input type="submit" value="Submit" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @foreach (var reservation in Model.Reservations)
    {
        <div class="d-flex jumbotron px-1 py-1 row my-3 mx-2 border border-warning">
            <div class="col-md-10">
                @if (reservation.RoomType == RoomType.TwoBeds)
                {
                    <h4>Room No. @reservation.RoomNumber - Room with separate beds</h4>
                }
                else if (reservation.RoomType == RoomType.DoubleBed)
                {
                    <h4>Room No. @reservation.RoomNumber - Room with a double bed</h4>
                }
                else if (reservation.RoomType == RoomType.PentHouse)
                {
                    <h4>Room No. @reservation.RoomNumber - Penthouse</h4>
                }
                else
                {
                    <h4>Room No. @reservation.RoomNumber - @reservation.RoomType</h4>
                }

                <a class="text-muted">
                    <b>Stay:</b> @reservation.CheckInDate.ToShortDateString() - @reservation.CheckOutDate.ToShortDateString()
                    <br />
                    <b>Price:</b> @reservation.Price
                </a>
            </div>

            <div class="col-md-1 my-auto">
                <a asp-action="Details" asp-route-id="@reservation.Id" class="mb-3 btn btn-warning my-3">Details</a>
            </div>
        </div>
    }
</div>

<script>
    let typeTemplate =
        '<select id="search-by-roomtype" class="search-by-criteria custom-select mb-3" name="Value">'
        + '     <option value="1">Room with separate beds</option>'
        + '     <option value="2">Room with a double bed</option>'
        + '     <option value="3">Apartment</option>'
        + '     <option value="4">Maisonette</option>'
        + '     <option value="5">Penthouse</option>'
        + '</select>';

    let numberTemplate =
        '<div id="search-by-roomnumber" class="search-by-criteria form-group">'
        + '     <input name="Value" class="form-control" />'
        + '     <span asp-validation-for="Value" class="text-danger"></span>'
        + '</div>';

    let templates = {
        'search-by-roomtype': typeTemplate,
        'search-by-roomnumber': numberTemplate
    };

    $('#search-by').change(function () {
        $('#criterias').empty();
        $('#criterias').append(templates['search-by-' + $(this).val().toLowerCase()]);
    });
</script>
